@import "tailwindcss";
@import "@nuxt/ui";

body{
    max-width: 1600px;
    padding: 16px;
    margin: 0 auto;
}

html::-webkit-scrollbar {
  display: none; 
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
